@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Overpass", sans-serif;
}
.main {
  background-color: hsl(213, 19%, 18%);
  padding: 25px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-top: 100px;
  gap: 25px;
  border-radius: 15px;
}
.star {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 25%);
  text-align: center;
  padding-top: 12px;
}
.main-text {
  color: hsl(0, 0%, 100%);
  margin: 15px 0;
}
.secon-text {
  color: hsl(217, 12%, 63%);
  margin: 15px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
}
.rating {
  display: flex;
  justify-content: space-between;
}
.rate {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 25%);
  text-align: center;
  padding-top: 12px;
  font-weight: 700;
}
.rate:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
  cursor: pointer;
}

.btn {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 30px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.btn:active,
.btn:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.result {
  background-color: hsl(213, 19%, 18%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  margin-top: 100px;
  border-radius: 15px;
  max-width: 350px;
}
.hidden {
  display: none;
}
.choice {
  color: hsl(25, 97%, 53%);
  border-radius: 30px;
  margin: 25px;
  padding: 10px;
  background-color: hsl(216, 12%, 25%);
}
.submitted {
  display: none;
}
.activated {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}
